* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #616161;
}

h1 {
  margin: 10px;
  padding: 10px;
  font-family: 'Metal Mania', cursive;
  text-align: center;
}

#product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.whole-card {
  width: 300px;
  border: 1px solid black; 
  box-shadow: 2px 4px;
  margin: 3px;
  
}
.top-card {
  border-bottom: 1px solid black;
  background-color: #7C4DFF;
  
 }

 .title-card {
  font-family: 'Metal Mania', cursive;
 }

 
img {
  width: 300px;
  height: 300px;
}

.inside-card3:hover .overlay {
  position: absolute;
  top: 14%;
  left: 60%;
  width: 400px;
  height: 400px;
  z-index: 1;
  background: transparent url('https://raw.githubusercontent.com/morecallan/css102-e6/master/images/soldOut.png') no-repeat;
  cursor: pointer;
}

.description {
  text-align: center;
  color: #212121;
}

h2 {
  text-align: center;
}

.here-or-not {
  background-color: #9E9E9E;
  color: #212121;
}
.size {
  list-style-type: none;
}

.valid {
  font-size: 12px;
}

.quantity {
  list-style-type: none;
}