* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #616161;
}

h1 {
  margin: 10px;
  padding: 10px;
  font-family: "Metal Mania", cursive;
  text-align: center;
}

#product-page > .card-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.whole-card {
  width: 300px;
  border: 1px solid black;
  box-shadow: 2px 4px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}
.top-card {
  border-bottom: 1px solid black;
  background-color: #7c4dff;
  border-radius: 5px;
}

.title-card {
  font-family: "Metal Mania", cursive;
}

img {
  width: 300px;
  height: 300px;
}

.inside-card3:hover .overlay {
  position: absolute;
  top: 5.3%;
  left: -21%;
  width: 400px;
  height: 400px;
  z-index: 1;
  background: transparent
    url("https://raw.githubusercontent.com/morecallan/css102-e6/master/images/soldOut.png")
    no-repeat;
  cursor: pointer;
}

.description {
  text-align: center;
  color: #212121;
}

h2 {
  text-align: center;
}

.here-or-not {
  background-color: #9e9e9e;
  color: #212121;
  
}

.specs {
  font-size: 17px;
  margin-left: 10px;
}

.sizes {
  margin-left: 5px;
}

li {
  margin-left: 20px;
}

.weight {
  margin-left: 20px;
}

.price {
  font-size: 17px;
  margin-left: 5px;
}


.size {
  list-style-type: none;
}

.valid {
  font-size: 12px;
}

.quantity {
  list-style-type: none;
}
